<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itdog.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.itdog.entity.UserInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_cname" jdbcType="VARCHAR" property="userCname" />
    <result column="mobile_phone" jdbcType="BIGINT" property="mobilePhone" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="wechat_id" jdbcType="VARCHAR" property="wechatId" />
    <result column="alipay_id" jdbcType="VARCHAR" property="alipayId" />
    <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
    <result column="lock" jdbcType="TINYINT" property="lock" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="modify_pwd_time" jdbcType="TIMESTAMP" property="modifyPwdTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.itdog.entity.UserInfo">
    <result column="user_introduce" jdbcType="LONGVARCHAR" property="userIntroduce" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_cname, mobile_phone, age, id_card, wechat_id, alipay_id, user_pwd, lock,
    status, register_time, modify_pwd_time
  </sql>
  <sql id="Blob_Column_List">
    user_introduce
  </sql>

</mapper>
